@model EntityLayer.Cocrete.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <br />
    <label>Müşteri Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <label>Müşteri Şehri</label>
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.City)
    <br />
    <label>Müşteri Meslek</label>
    @Html.DropDownListFor(x => x.JobId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
    <button class="btn btn-success">GÜNCELLE</button>

</form>
